/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FAE7C9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    display: flex;
    width: 100%;
    max-width: 1100px;
    background: #FDF6E3;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Left Content Section */
.content {
    animation:  fadeInLeft 1s ease;

    flex: 1;
    padding: 60px;
}

/* Headings */
h1 {
    font-size: 36px;
    color: #222;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Rating */
.rating {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

/* Terms */
.terms {
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
}

.terms input {
    margin-right: 8px;
}

.terms a {
    color: #0073e6;
    text-decoration: none;
}

/* Input */
input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Button */
.signup-btn {
    width: 100%;
    padding: 12px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.signup-btn:hover {
    background-color: #000;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.or-login {
    text-align: center;
    color: #888;
    margin: 20px 0;
}
.login-link {
    text-align: center;
    color:#888;
    margin-top: 10px;
}
.login-link a {
    color: #004080;
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}


/* Right Side Section with Full Image Cover */
.side-section {
   
    flex: 1;
    background: url('abcd.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    border-radius: 0 10px 10px 0;
    animation: slideInRight 1s ease;
}



